<section>
	<nav class="navbar navbar-expand-lg">
		<div class="container">
		  <a class="navbar-brand" href="/"><i class="fas fa-laptop-code mr-3 text-blue"></i>BluOcean LLC</a>
		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav ml-auto">
					<li class="nav-item">
		        <a class="nav-link" href="/platform"><i class="fal fa-browser mr-2"></i>Platform</a>
		      </li>
					<li class="nav-item">
		        <a class="nav-link" href="/#products"><i class="fal fa-drafting-compass mr-2"></i>Engineering</a>
		      </li>
					<li class="nav-item">
		        <a class="nav-link" href="/#products"><i class="fal fa-location-circle mr-2"></i>Consulting</a>
		      </li>
					<li class="nav-item active">
		        <a class="nav-link" href="#contact" onclick="gtag('event', 'contact', { event_category: 'sales', event_label: 'Navbar' });">Contact<i class="far fa-arrow-right ml-2"></i></a>
		      </li>
		    </ul>
			</div>
	  </div>
	</nav>
</section>
