<section>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-2 col-6">
				<a href="/"><img src="https://chasingaxe.s3.us-east-1.amazonaws.com/chasin-axe-logo.png" width="100%" class="d-block mx-auto" /></a>
			</div>
		</div>
	</div>
	<nav class="navbar navbar-expand-lg">
		<div class="container">
		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav ml-auto">
					<li class="nav-item active">
		        <a class="nav-link" href="/#contact" onclick="gtag('event', 'contact', { event_category: 'sales', event_label: 'Navbar' });">Contact<i class="far fa-arrow-right ml-2"></i></a>
		      </li>
		    </ul>
			</div>
	  </div>
	</nav>
</section>
