body {
  // background: rgb(96,131,252);
  // background: #a7aeff;
  background: linear-gradient(180deg, #fff 0%, #eee 75%, #ddd 100%);
  font-family: $body;
}

header {
  padding: 0;
}

nav {
  &.navbar {
    .navbar-brand {
      color: $white;
      font-weight: 700;
      @include media-breakpoint-down(xs) {
        padding-left: 1rem;
      }
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          color: $white;
          font-weight: 700;
        }
      }
    }
  }
}

h6 {
  font-family: $body;
  font-weight: 400;
}

p {
  a {
    border-bottom: 1px solid $blue;
    &:hover {
      text-decoration: none;
      border-bottom: 1px solid $charcoal;
    }
  }
}

ul {
  @include media-breakpoint-down(xs) {
    padding-left: 1rem;
  }
  li {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    list-style: none;
  }
}

span {
  &.highlight {
    background: rgba(242, 226, 107, 0.4);
    &.green {
      background: rgba(114, 247, 149, 0.6);
    }
  }
}

.callout {
  .svg-inline--fa {
    &.heading {
      background: $white;
    }
  }
  h1 {
    font-size: 4.5rem;
    font-weight: bold;
    @include media-breakpoint-down(xs) {
      font-size: 2.8rem;
    }
  }
  h5 {
    span {
      background: none;
    }
  }
  h6 {
    font-family: $body;
    font-weight: 400;
  }
}

.footer {
  background: transparent;
}

.text-blue {
  color: $blue;
}

.text-red {
  color: $red;
}

.text-gray {
  color: $gray;
}

.text-white {
  a {
    color: $white;
  }
}
