body {
  background: rgb(96,131,252);
  background: linear-gradient(180deg, rgba(96,131,252,1) 0%, rgba(88,125,255,1) 35%, rgba(81,120,255,1) 100%);
  font-family: $body;
}

nav {
  &.navbar {
    .navbar-brand {
      color: $white;
      font-weight: 700;
      @include media-breakpoint-down(xs) {
        padding-left: 1rem;
      }
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          color: $white;
          font-weight: 700;
        }
      }
    }
  }
}

h6 {
  font-weight: 400;
}

p {
  a {
    border-bottom: 1px solid $blue;
    &:hover {
      text-decoration: none;
      border-bottom: 1px solid $charcoal;
    }
  }
}

ul {
  @include media-breakpoint-down(xs) {
    padding-left: 1rem;
  }
  li {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    list-style: none;
  }
}

span {
  &.highlight {
    background: rgba(242, 226, 107, 0.4);
    &.green {
      background: rgba(114, 247, 149, 0.6);
    }
  }
}

.callout {
  .svg-inline--fa {
    &.heading {
      background: $white;
    }
  }
  h1 {
    font-size: 3.5rem;
    @include media-breakpoint-down(xs) {
      font-size: 2.8rem;
    }
  }
  h5 {
    span {
      background: none;
    }
  }
  h6 {
    font-weight: 700;
  }
}

.footer {
  background: #5178ff;
}

.text-blue {
  color: $blue;
}

.text-gray {
  color: $gray;
}

.text-white {
  a {
    color: $white;
  }
}
